@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


body {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.weather-widget {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.location-container h1 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.weather-icon {
    font-size: 1.5em;
    margin-right: 15px;
    color: rgb(191, 96, 37);
}

.temperature {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.weather-description {
    font-size: 1.1em;
    color: #666;
}